<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<th:block id="header" th:fragment="layout-header">
	<div class="content">
		<div class="title">社員管理システム</div>
		<div th:if="${session.loginUser != null}" class="user_info">
			
			<!--「ようこそ、〇〇さん」をクリックしたときに、社員変更入力画面が表示されるようにするための記述 -->
			<a th:href="@{/update/input}">
				ようこそ、<span th:text="${session.loginUser.empName}"></span>さん
			</a>
			<span class="pipeline">|</span><a th:href="@{/logout}">ログアウト</a>
		</div>

	</div>
</th:block>
</body>
</html>
