@charset "UTF-8";

/* ---- 画面の大枠のレイアウト用CSS ---- */

/* ---- 共通 ---- */
body {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	width: 920px;
	margin: 0px auto;
}

.login {
	width: 100%;
}

/* ---- ヘッダー ---- */
header {
	height: 60px;
	width: 100%;
/*	background-colorは単色なら使用できる グラデーションが上手く読み込まれなかったときの保険*/
	background-color: #6ce775;
/*	グラデーションをしたい時はbackground-imageを使う */
	background-image: radial-gradient(circle, #d7eeff, #c3f2ff, #b1f6fa, #a9f9e9, #b1f9d0);
	padding-top: 10px;
}

header .title {
	margin-left: 10px;
	line-height: 45px;
	font-size: 25pt;
}

header .user_info {
	margin-right: 20px;
	line-height: 45px;
	text-align: right;
}

header .user_info a {
	text-decoration: none;
}

/* ---- サイドバー ---- */
aside {
	width: 200px;
}

aside .title {
	background-color: #add8e6;
	background-image: radial-gradient(circle, #d9e5ff, #cfdaff, #cbcdff, #cbbfff, #d0b0ff);
	margin: 5px 0px 10px 10px;
	padding: 3px;
	font-weight: bold;
}

aside .form {
	padding-left: 15px;
}

aside input[type=text] {
	width: 110px;
	margin-right: 10px;
}

aside select {
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
	width: 110px;
}

aside input[type=submit] {
	width: 50px;
	margin-right: 5px;
}

/* ---- メイン ---- */
article {
	
	width: 700px;
	padding-left: 20px;
}


/* ---- フッター ---- */
footer {
	height: 30px;
	background-color: #87CEEB;
	background-image: radial-gradient(circle, #ffdbc9, #ffe3c9, #feeccb, #f9f6d0, #f3ffd8);
	text-align: center;
	font-size: 8pt;
	line-height: 30px;
}

